:root {
    --primary-color: #FFFFFF;
    --secondary-color: #00CCCC;
}

* {
    margin: 0px;
    padding: 0px; 
    
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: #FFFFFF;
    margin: 0px;
    
   
}


/* HEADER */
header {
    overflow: hidden;
    width: 100%;
    background: teal;
    position: sticky;
    left: 0;
    padding: 0 0 15px    

}
header h2 {
 font-size: 30px;
 position: relative;
 left: 100px;
 top: 30px;
    
}


header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    display: flex;
    justify-content: flex-end;
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 12px 15px;
    font-weight: lighter;
    font-size: 1.20vw;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;

}






/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;flex-wrap: wrap;
    
}
.hero div img {
    width: 35%;
    text-align: left;
    margin: 3.5%;
}
.right-col {
    
}

.icon {
    color: var(--primary-color);

}

    



/* ABOUT ME */





/* SERVICES */




/* PORTFOLIO */




/* RESUME */





/* CONTACT ME */