:root {
    --primary-color: #FFFFFF;
    --secondary-color: #00CCCC;
    --third-color: ;
}

* {
    margin: 0px;
    padding: 0px; 
    
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: #FFFFFF;
    margin: 0px;
    
   
}


/* HEADER */
header {
    outline: 1px solid white;
    width: 100%;
    background: teal;
    position: sticky;
    left: 0;
    padding: 0 0 15px    

}
header h2 {
 font-size: 30px;
 position: relative;
 left: 130px;
 top: 30px;
    
}


header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    display: flex;
    justify-content: flex-end;
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 12px 15px;
    font-weight: lighter;
    font-size: 1.20vw;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;

}






/* HERO SECTION */
.hero {
    outline: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.hero h1{
    text-align: center;
    font-size: 40px;
    margin-right: 30px;
}
.hero div img {
    outline: 1px solid white;
    width: 70%;
    text-align: left;
    margin: 3.5% 10%;
}
.right-col {
    outline: 1px solid white;
    width: 100%;
    margin: 3.5%;
    padding-top: 40%
    
    
}

.icon {
    display: inline-block;
    color: var(--primary-color);
    padding: 10px;
    margin: 10% 5% 0 2%;
    border: 3px solid lightblue;
    border-radius: 8px;
    font-size: 30px;
}



    



/* ABOUT ME */





/* SERVICES */




/* PORTFOLIO */




/* RESUME */





/* CONTACT ME */